[submodule "Carthage/Checkouts/Runes"]
	path = Carthage/Checkouts/Runes
	url = https://github.com/thoughtbot/Runes.git
[submodule "Carthage/Checkouts/Curry"]
	path = Carthage/Checkouts/Curry
	url = https://github.com/thoughtbot/Curry.git
