[submodule "Carthage/Checkouts/Box"]
	path = Carthage/Checkouts/Box
	url = https://github.com/robrix/Box.git
[submodule "Carthage/Checkouts/runes"]
	path = Carthage/Checkouts/runes
	url = https://github.com/thoughtbot/runes.git
