<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>numerics</key>
	<dict>
		<key>int</key>
		<integer>5</integer>
		<key>int64</key>
		<integer>9007199254740992</integer>
		<key>int64_string</key>
		<string>1076543210012345678</string>
		<key>double</key>
		<real>3.4</real>
		<key>float</key>
		<real>1.1</real>
		<key>uint</key>
		<integer>500</integer>
		<key>uint64</key>
		<integer>9223372036854775807</integer>
		<key>uint64_string</key>
		<string>18446744073709551614</string>
	</dict>
	<key>bool</key>
	<false/>
	<key>embedded</key>
	<dict>
		<key>string_array</key>
		<array>
			<string>hello</string>
			<string>world</string>
		</array>
		<key>string_array_opt</key>
		<array/>
	</dict>
	<key>string_array</key>
	<array>
		<string>hello</string>
		<string>world</string>
	</array>
	<key>user_opt</key>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>name</key>
		<string>Cooler User</string>
	</dict>
	<key>dict</key>
	<dict>
		<key>foo</key>
		<string>bar</string>
	</dict>
</dict>
</plist>
